body {
  font-family: helvetica;
  background: linear-gradient();
}

h1, h2, h3 {
  background-image:url("Resources\Images\the-flatiron-building.png");
  font-weight: bold;
}

.main {
  text-align: center;
  color: black;
}

.main h1 {
  font-size: 70px;
}

.btn-nav {
  font-size: 18px;
}

h2 {
  font-size:32px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

p {
  text-align: center;
}
.supporting {
  text-align: center;
}
